<a href="https://colab.research.google.com/github/Saurabh-975/Adaptive-learnig-system-for-personalized-education/blob/main/Adaptive_learnig_system_for_personalized_education_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
import numpy as np

# Function to read dataset from CSV file
dataset = pd.read_csv("C:/Users/asus/Downloads/Dataset.csv")
X = dataset.drop(columns=['label'])
y = dataset['label']

In [ ]:
dataset.head()

   difficulty_level  topic  question_type  time_taken  attempts  label
0                 3      1              0          30         1      1
1                 5      2              1          45         2      1
2                 2      1              0          20         1      0
3                 6      3              1          60         3      1
4                 4      2              0          40         2      0

In [ ]:
dataset.tail()

    difficulty_level  topic  question_type  time_taken  attempts  label
62                 5      3              0          25         1      0
63                 2      1              1          45         2      1
64                 4      2              0          60         3      1
65                 1      3              1          40         1      0
66                 6      1              0          30         2      0

In [ ]:
dataset.describe()

,difficulty_level,topic,question_type,time_taken,attempts,label
count,67.000000,67.000000,67.000000,67.000000,67.000000,67.000000
mean,3.447761,1.970149,0.507463,37.089552,1.985075,0.507463
std,1.690289,0.815942,0.503718,11.649855,0.807025,0.503718
min,1.000000,1.000000,0.000000,15.000000,1.000000,0.000000
25%,2.000000,1.000000,0.000000,30.000000,1.000000,0.000000
50%,3.000000,2.000000,1.000000,35.000000,2.000000,1.000000
75%,5.000000,3.000000,1.000000,45.000000,3.000000,1.000000
max,6.000000,3.000000,1.000000,60.000000,3.000000,1.000000

In [ ]:
X= dataset[['difficulty_level','topic','question_type','time_taken','attempts']]
y = dataset['label']
print(X)
print(y)

    difficulty_level  topic  question_type  time_taken  attempts
0                  3      1              0          30         1
1                  5      2              1          45         2
2                  2      1              0          20         1
3                  6      3              1          60         3
4                  4      2              0          40         2
..               ...    ...            ...         ...       ...
62                 5      3              0          25         1
63                 2      1              1          45         2
64                 4      2              0          60         3
65                 1      3              1          40         1
66                 6      1              0          30         2

[67 rows x 5 columns]
0     1
1     1
2     0
3     1
4     0
     ..
62    0
63    1
64    1
65    0
66    0
Name: label, Length: 67, dtype: int64

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)
print("Shapes:", X_train.shape, X_test.shape, y_train.shape, y_test.shape)

Shapes: (50, 5) (17, 5) (50,) (17,)

In [ ]:
# Function to read learner information from CSV file
learner_info = pd.read_csv("C:/Users/asus/Downloads/learner information.csv")

In [ ]:
learner_info.head()

,learner_id,prior_knowledge,learning_style,preference1,preference2,strength1,strength2,weakness1,weakness2
0,1,Intermediate,Visual,Practice problems,Interactive quizzes,Algebra,Geometry,Calculus,Statistics
1,2,Advanced,Auditory,Video lectures,Group discussions,Statistics,Calculus,Algebra,Geometry
2,3,Beginner,Kinesthetic,Hands-on activities,Visual aids,Geometry,Algebra,Statistics,Calculus
3,4,Intermediate,Visual,Practice problems,Interactive quizzes,Calculus,Statistics,Geometry,Algebra
4,5,Advanced,Auditory,Video lectures,Group discussions,Algebra,Geometry,Calculus,Statistics

In [ ]:
learner_info.tail()

,learner_id,prior_knowledge,learning_style,preference1,preference2,strength1,strength2,weakness1,weakness2
75,76,Intermediate,Kinesthetic,Hands-on activities,Visual aids,Calculus,Statistics,Geometry,Algebra
76,77,Beginner,Visual,Practice problems,Interactive simulations,Geometry,Calculus,Algebra,Statistics
77,78,Advanced,Auditory,Video lectures,Group discussions,Statistics,Calculus,Algebra,Geometry
78,79,Intermediate,Visual,Practice problems,Interactive quizzes,Geometry,Algebra,Statistics,Calculus
79,80,Beginner,Kinesthetic,Hands-on activities,Visual aids,Calculus,Geometry,Statistics,Algebra

In [ ]:
learner_info.describe()

       learner_id
count     80.0000
mean      40.5000
std       23.2379
min        1.0000
25%       20.7500
50%       40.5000
75%       60.2500
max       80.0000

In [ ]:
# Function to gather information about learners
def gather_learner_info(file_path="C:/Users/asus/Downloads/learner information.csv"):
    # Read learner information from CSV file
    learner_info = pd.read_csv(file_path)
    return learner_info

In [ ]:
# Function to log learner interactions, performance, and engagement
def log_learner_data(learner_id, interaction_type, performance, engagement):
    # In a real-world scenario, this function would log data to a database or file
    print(f"Logging - Learner ID: {learner_id}, Interaction: {interaction_type}, Performance: {performance}, Engagement: {engagement}")

In [ ]:
# Function to provide feedback on correct and incorrect answers
def provide_feedback(correct_answer):
    # In a real-world scenario, this function would provide detailed feedback to the learner
    if correct_answer:
        print("Correct! Well done.")
        print("Here's some additional explanation or resources to reinforce your understanding.")
    else:
        print("Incorrect. Let's try again.")
        print("Here's why the answer is incorrect and some guidance to help you improve.")

In [ ]:
# Read dataset from CSV file
data= pd.read_csv("C:/Users/asus/Downloads/Dataset.csv")

X = data.iloc[:, :-1]
y = data.iloc[:, -1]

# Split dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create decision tree classifier
classifier = DecisionTreeClassifier()

# Train the classifier
classifier.fit(X_train, y_train)

DecisionTreeClassifier()

In [ ]:
# Sample user performance (for demonstration)
user_performance = np.array([2, 1, 0, 25, 1])  # User answered a difficulty level 2 question on topic 1, multiple choice, in 25 seconds, 1 attempt

# Predict user's answer (0 - Incorrect, 1 - Correct)
predicted_label = classifier.predict([user_performance])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [ ]:
# Log learner data for the interaction
log_learner_data(learner_id=1, interaction_type='Question Attempt', performance='Correct' if predicted_label == 1 else 'Incorrect', engagement='High')

# Provide feedback based on the prediction
provide_feedback(correct_answer=predicted_label == 1)

Logging - Learner ID: 1, Interaction: Question Attempt, Performance: Incorrect, Engagement: High
Incorrect. Let's try again.
Here's why the answer is incorrect and some guidance to help you improve.

In [ ]:
# Adjust difficulty level based on user's performance
if predicted_label == 1:
    new_difficulty_level = user_performance[0] + 1  # Increase difficulty
else:
    new_difficulty_level = user_performance[0] - 1  # Decrease difficulty

# Generate a new question with the adjusted difficulty level
new_question = [new_difficulty_level, user_performance[1], user_performance[2], user_performance[3], user_performance[4]]

print("New Question:", new_question)

New Question: [1, 1, 0, 25, 1]

In [ ]:
# Gather information about learners
learner_info =learner_info
print("Learner Information:")
print(learner_info)

Learner Information:
    learner_id prior_knowledge learning_style          preference1  \
0            1    Intermediate         Visual    Practice problems
1            2        Advanced       Auditory       Video lectures
2            3        Beginner    Kinesthetic  Hands-on activities
3            4    Intermediate         Visual    Practice problems
4            5        Advanced       Auditory       Video lectures
..         ...             ...            ...                  ...
75          76    Intermediate    Kinesthetic  Hands-on activities
76          77        Beginner         Visual    Practice problems
77          78        Advanced       Auditory       Video lectures
78          79    Intermediate         Visual    Practice problems
79          80        Beginner    Kinesthetic  Hands-on activities

                preference2   strength1   strength2   weakness1   weakness2
0       Interactive quizzes     Algebra    Geometry    Calculus  Statistics
1         Group discussions  Statistics    Calculus     Algebra    Geometry
2               Visual aids    Geometry     Algebra  Statistics    Calculus
3       Interactive quizzes    Calculus  Statistics    Geometry     Algebra
4         Group discussions     Algebra    Geometry    Calculus  Statistics
..                      ...         ...         ...         ...         ...
75              Visual aids    Calculus  Statistics    Geometry     Algebra
76  Interactive simulations    Geometry    Calculus     Algebra  Statistics
77        Group discussions  Statistics    Calculus     Algebra    Geometry
78      Interactive quizzes    Geometry     Algebra  Statistics    Calculus
79              Visual aids    Calculus    Geometry  Statistics     Algebra

[80 rows x 9 columns]

In [ ]:
# Define the curriculum mapping
curriculum = {
    'Unit 1': ['Algebra Basics', 'Linear Equations'],
    'Unit 2': ['Quadratic Equations', 'Polynomials'],
    'Unit 3': ['Geometry Fundamentals', 'Trigonometry']
}

print("Curriculum Mapping:")
for unit, topics in curriculum.items():
    print(f"{unit}:")
    for topic in topics:
        print(f"- {topic}")
    print()

Curriculum Mapping:
Unit 1:
- Algebra Basics
- Linear Equations

Unit 2:
- Quadratic Equations
- Polynomials

Unit 3:
- Geometry Fundamentals
- Trigonometry